:root {
	--White: hsl(0, 0%, 100%);
	--Light_Grey: hsl(217, 12%, 63%);
	--Medium_Grey: hsl(216, 12%, 54%);
	--Dark_Blue: hsl(213, 19%, 18%);
	--Less_Dark_Blue: hsl(213, 19%, 25%);
	--Very_Dark_Blue: hsl(216, 12%, 8%);
	--Orange: hsl(25, 97%, 53%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
	scroll-behavior: smooth;
}
body {
	display: flex;
	flex-direction: column;
	font-family: "Overpass", sans-serif;
	font-size: 15px;
	background-color: var(--Very_Dark_Blue);
}
a,
input {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.wrapper {
	flex: 1 0 auto;
	margin: 15vh auto;
	max-width: 375px;
}
.error {
	color: rgba(254, 41, 41, 0.647);
	font-size: 16px;
	margin: 4px 0;
}
.card {
	width: 350px;
	min-height: 300px;
	background-color: var(--Dark_Blue);
	border: none;
	border-radius: 15px;
	padding: 25px;
	color: var(--Medium_Grey);

	& h1 {
		color: var(--White);
		padding: 10px 0px;
		font-weight: 700;
		font-size: 24px;
	}
	& p {
		display: block;
		height: 80px;
		font-weight: 400;
		line-height: 1.5;
	}
	& form {
		margin-top: 20px;
	}
}
input.submit {
	display: block;
	width: 100%;
	padding: 15px;
	margin-top: 15px;
	border: none;
	border-radius: 25px;
	background-color: var(--Orange);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	color: var(--White);
	transition: color 0.3s, background-color 0.3s;
	cursor: pointer;
	&:hover {
		background-color: var(--White);
		color: var(--Orange);
	}
}
input[type="radio"] {
	display: none;
}

label {
	display: inline-block;
	width: 45px;
	height: 45px;
	border: none;
	border-radius: 50%;
	margin-right: 15px;
	padding: 14px;
	text-align: center;
	color: var(--Medium_Grey);
	background-color: var(--Less_Dark_Blue);
	cursor: pointer;
	&:last-of-type {
		margin-right: 0px;
	}
	&:hover {
		color: var(--White);
		background-color: var(--Orange);
	}
}

input[type="radio"]:checked + label {
	color: var(--White);
	background-color: var(--Light_Grey);
}

.thankYou {
	display: flex;
	flex-direction: column;
	align-items: center;
	& img {
		width: 120px;
		padding: 20px 0px;
		margin-bottom: 15px;
	}
	& h3 {
		background-color: var(--Less_Dark_Blue);
		border: none;
		border-radius: 15px;
		padding: 10px 10px;
		font-size: 14px;
		font-weight: 400;
		color: var(--Orange);
	}
	& h2 {
		padding: 15px;
		color: var(--White);
	}
	& p {
		text-align: center;
	}
}
.notActive {
	display: none;
}

.footer {
	flex-shrink: 0;
	margin-top: 10px;
	padding: 20px;
	color: #fff;
	background-color: var(--Dark_Blue);
	& .attribution {
		text-align: center;
		& a {
			text-decoration: none;
			color: var(--Medium_Grey);
			&:visited {
				color: var(--Medium_Grey);
			}
		}
	}
}
